body {
    background-image: url('5bd558e5b1bf3cc05f08c372b8888246.jpg'); /* Caminho para sua imagem de background */
    background-size: auto; /* Garante que a imagem cubra todo o fundo */
   
    
  }

  .Back{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    box-shadow: 3px 3px 0;
     text-align: center;
     display: block;
     font-size: 16px;

  }

h1 {
    text-align: center;
}



.container {
    background-color: azure;
    width: 200px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    border: 2px solid black; /* Bordas sólidas de 2 pixels na cor preta */
    margin: 20px auto 0; /* Margem de 20 pixels acima e centralizado horizontalmente */
    text-align: center;
}
